.udr_logo{
    font-family: 'Lobster', cursive;
}

.udr_footer_button {
    font.size: .6rem;
}

.udr_footer {
    text-align:center;
    margin-top: 2rem;
}

.udr_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: block;
    text-decoration: name;
}

.udr_header_nav {
    margin: 0 0.5rem;
}

.udr_header_navbar {
    margin: 1rem 0;
}