{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .container div {
  width: 250px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  }

  .container img {
  width: 100%;
  border-radius: 1rem;
  }

</style>

  <div class="container">
    <div class="item1">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/250" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/269" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/252" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/344" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/333" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/301" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/297" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/256" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/222" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/224" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/378" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/200/341" alt="">
    </div>
  </div>

  <div style="text-align: center">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
      Create Article
    </a>
  </div>

<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}